.fondo1
  background: url('../assets/curso/fondo1.png')
  background-position: bottom
  background-size: cover
  background-repeat: no-repeat
  margin-inline: -3.4rem
.fondo2
  background: url('../assets/curso/tema1/fondo2.svg')
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  margin-inline: -3.4rem

.fondo3
  background: url('../assets/curso/fondo1.png')
  background-position: bottom
  background-size: auto
  background-repeat: no-repeat
  margin-inline: -3.4rem

.fondo4
  background: url('../assets/curso/tema2/fondo4.png')
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  margin-inline: -3.4rem

.fondo5
  background: url('../assets/curso/tema5/fondo5.svg')
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  margin-inline: -3.4rem

.fondo-figuras
  background: url('../assets/curso/tema2/fondo-figuras.svg')
  background-position: left bottom
  background-size: auto
  background-repeat: no-repeat
  margin-inline: -3.4rem

.fondo-diagonal
  background: url('../assets/curso/tema3/fondo-diagonal.png')
  background-position: left bottom
  background-size: auto
  background-repeat: no-repeat
  margin-inline: -3.4rem


.cajon.color-primario 
  background-color: #C7D2F9


.tarjeta-avatar > img
  top: 20px

.bloque-texto-c.color-secundario 
  background-color: #00bab552
.bloque-texto-c i 
  color: #FF0092

.bloque-texto-c:after 
  content: ''
  display: block
  width: 0px
  height: 0px
  background-color: #ffffff49
  position: relative
  left: calc(0% - 0px)

.size-left--comilla.fa-quote-left
  font-size: 116px



.linea-rosa
    height: 5px
    width: 45%
    background-color: #F4C0DE
    border-radius: 50px

.cajon-redondeado
  background-color: #DDFAF9
  border-radius: 100px
  position: relative
  margin-bottom: 20rem

.contajetas-imagenes
  position: relative

.tarjetas-imagen
  position: absolute
  top: 85%
  left: 50%
  width: 1000px
  transform: translate(-50%, 0%)

.img-infografica.color-secundario .img-infografica__item__dot:before, .img-infografica.color-secundario .img-infografica__item__dot:after, .img-infografica.color-secundario .img-infografica-b__item__dot:before, .img-infografica.color-secundario .img-infografica-b__item__dot:after, .img-infografica-b.color-secundario .img-infografica__item__dot:before, .img-infografica-b.color-secundario .img-infografica__item__dot:after, .img-infografica-b.color-secundario .img-infografica-b__item__dot:before, .img-infografica-b.color-secundario .img-infografica-b__item__dot:after
  background-color: #FF0092

.tabla-b.color-primario .tabla-b__header
  border-top: 4px solid #ff0092
  background-color: #F6F6F6

.tarjeta.tarjeta--azul
  border-radius: 0

.tabs-a__tab 
  background-color: #f6f6f6

.tarjeta.color-gradiente
  border-radius: 8px
  background: linear-gradient(90deg, #FC1892  0%, rgba(38,81,225,1))

.tarjeta-numerada__numero 
  top: 50%
  transform: translate(-50%, -50%)

.tarjeta-numerada.color-acento-contenido
  border-color: #e8e8e8
  border-radius: 0
  border-right: 0
  border-left: 0
  border-top: 0

.linea-tiempo-d__item__dots:after 
  border-left: 5px dotted #e8e8e8

.bloque-texto-c.color-primario 
  background-color: #fff

.bloque-texto-custom
  background-color: #fff
.bloque-texto-custom:after 
  content: ""
  display: block
  width: 30px
  height: 30px
  background-color: #FF0092
  position: relative
  left: calc(100% - 30px)

.bloque-texto-custom i 
  font-size: 2.5em
  color: #FF0092

//cuadro texto con imagen

.contenedor-bloque
  position: relative
  display: flex
  justify-content: end
  

.bloque-imagen
  position: absolute
  top: 50%
  left: 0
  transform: translate(0%, -50%)
  width: 35%
  

.bloque-texto-custom--img
  background-color: #fff
  width: 70%
  
  

.bloque-texto-custom--img:after 
  content: ""
  display: block
  width: 30px
  height: 30px
  background-color: #FF0092
  position: relative
  left: calc(100% - 30px)

.bloque-texto-custom--img i 
  font-size: 2.5em
  color: #FF0092

////end bloqe texto con imagen

.acordion__activo
  background-color: #F3F9FF 

///superposicion en cajon padre tema 2

.cajon-padre--img
  position: absolute
  right: 100%
  top: 14%
  transform: translate(7%, -15%)
  width: 550px
///END superposicion en cajon padre tema 2


@media screen and ( max-width: 992px)
  .fondo1, .fondo2, .fondo4
    margin-inline: -1.4rem
  .fondo3, .fondo-diagonal, .fondo5
    margin-inline: -1.4rem
    background-size: cover
  .fondo-figuras
    margin-inline: -1.4rem
    background-size: auto
    background-position: center bottom

  .size-left--comilla.fa-quote-left
    font-size: 80px
  .linea-rosa
    width: 70%
  
  .cajon-redondeado
    border-radius: 50px
    margin-bottom: 0rem
  .tarjetas-imagen
    position: relative
    top: 0
    left: 0
    width: auto
    transform: translate(0%, 0%)
  .cajon-padre--img
    display: none